.v-divider {
  display: block;

  //margin: -1px 0 0 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 20%);
  height: 1px;
  min-height: 1px;
  max-height: 1px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;

  &.vertical {
    width: 1px;
    min-width: 1px;
    max-width: 1px;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
  }
}
