# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'npm' # See documentation for possible values
    directory: '/' # Location of package manifests
    open-pull-requests-limit: 25
    # target-branch: "package-updates"

    schedule:
      interval: 'monthly'
      # Check for npm updates at 0am UTC
      time: '00:00'
      # Check for npm updates on Mondays (Sunday night)
      day: 'monday'

    groups:
      ESLint:
        patterns:
          - 'eslint*'
          - 'globals'
          - '@eslint/*'
          - '@typescript-eslint/*'
          - '@rushstack/eslint-patch'
          - '@types/eslint'
      Stylelint:
        patterns:
          - 'stylelint*'
      Vue.js:
        patterns:
          - 'vue*'
          - '@vue/*'
      Vite.js:
        patterns:
          - 'vite*'
          - '@vitejs/*'
      VueUse:
        patterns:
          - '@vueuse/*'
