@use '../../style/vars' as *;

:root {
  --parent-card-background: rgba(var(--background-color), var(--background-opacity));
  --card-background: var(--parent-card-background);
  --card-border: none;
  --card-shadow: none;
}

// dark mode
html.dark-mode {
  --card-border: var(--border-size) var(--border-style) rgba(var(--border-color), var(--border-opacity));
}

.v-card .v-card {
  --card-background: lch(from var(--parent-card-background) calc(l - 8 * var(--dark-modifier)) c h)
}

.v-card {
  border-radius: var(--border-radius);
  background: var(--card-background);

  border: var(--card-border);

  &__clickable {
    cursor: pointer;
  }

  &__flat {
    border: none;
    box-shadow: none;
  }

}
