@use '../../style/vars' as *;

:root {
  --card-background: rgba(var(--background-color), var(--background-opacity));
  --card-border: none;
  --card-shadow: none;
}

html.dark-mode {
  --card-border: var(--border-size) var(--border-style) rgb(var(--border-color));
}

.v-card {
  border-radius: var(--border-radius);
  background: var(--card-background);

  border: var(--card-border);

  &__clickable {
    cursor: pointer;
  }

  &__flat {
    --card-border: none;
    --card-shadow: none;
  }

}
