@use '../../style/vars' as *;

:root {
  --card-background: rgba(var(--background-color), var(--background-opacity));
}

.v-card {
  border-radius: var(--border-radius);
  background: var(--card-background);

  &--clickable {
    cursor: pointer;
  }
}
