@use "../../style/sass-vars" as *;
@use "../../style/vars" as *;

.v-table {
  --table-header-font-weight: var(--font-weight-bold);
  --table-border-color: var(--border-color);
  --table-border-size: var(--border-size);
  --cell-border: var(--table-border-size) var(--border-style) rgba(var(--table-border-color), var(--border-opacity));

  @at-root & {
    width: 100%;
    border-collapse: collapse;
  }

  > thead tr:last-child {
    th, td {
      border-bottom: var(--cell-border);
      padding-bottom: 2 * $spacer;
    }
  }

  > tr:not(:first-child, :last-child),
  > tbody > tr:not(:first-child) {
    th, td {
      border-top: var(--cell-border);
    }
  }

  > tbody > tr:not([style*="display: none"]):nth-child(odd) {
    //background: rgba(255, 255, 255, .04);
  }

  td, th {
    padding: 0 $spacer * 2;
  }

  th {
    text-align: left;
    font-weight: var(--table-header-font-weight);
  }


}
