.response-body {

  &--checkered {
    --checkered-light: rgba(255, 255, 255, .25);
    --checkered-dark: rgba(0, 0, 0, .25);
    background-image: conic-gradient(
                    var(--checkered-light) 90deg,
                    var(--checkered-dark) 90deg 180deg,
                    var(--checkered-light) 180deg 270deg,
                    var(--checkered-dark) 270deg
    );
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }

}
