@use '../../../style/sass-vars' as *;

.v-tab {
  border: none;
  outline: none;
  background: none;
  color: rgba(var(--text-color), 1);

  flex-grow: 1;
  text-align: center;
  padding: $spacer * 2;

  &:hover {
    background: rgba(255, 255, 255, .1);
  }

}
