@use "./sass-vars" as *;

@for $i from 0 through 12 {
  .pa-#{$i} {
    padding: $i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .px-#{$i} {
    padding-right: $i * $spacer !important;
    padding-left: $i * $spacer !important;
  }

  .py-#{$i} {
    padding-top: $i * $spacer !important;
    padding-bottom: $i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .pt-#{$i} {
    padding-top: $i * $spacer !important;
  }

  .pr-#{$i} {
    padding-right: $i * $spacer !important;
  }

  .pb-#{$i} {
    padding-bottom: $i * $spacer !important;
  }

  .pl-#{$i} {
    padding-left: $i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .ma-#{$i} {
    margin: $i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .mx-#{$i} {
    margin-left: $i * $spacer !important;
    margin-right: $i * $spacer !important;
  }

  .my-#{$i} {
    margin-top: $i * $spacer !important;
    margin-bottom: $i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .mt-#{$i} {
    margin-top: $i * $spacer !important;
  }

  .mr-#{$i} {
    margin-right: $i * $spacer !important;
  }

  .mb-#{$i} {
    margin-bottom: $i * $spacer !important;
  }

  .ml-#{$i} {
    margin-left: $i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .ma-n#{$i} {
    margin: -$i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .mx-n#{$i} {
    margin-left: -$i * $spacer !important;
    margin-right: -$i * $spacer !important;
  }

  .my-n#{$i} {
    margin-top: -$i * $spacer !important;
    margin-bottom: -$i * $spacer !important;
  }
}

@for $i from 0 through 12 {
  .mt-n#{$i} {
    margin-top: -$i * $spacer !important;
  }

  .mr-n#{$i} {
    margin-right: -$i * $spacer !important;
  }

  .mb-n#{$i} {
    margin-bottom: -$i * $spacer !important;
  }

  .ml-n#{$i} {
    margin-left: -$i * $spacer !important;
  }
}
