@use './sass-vars' as *;
@use './transitions' as *;

@forward './sass-vars';

:root {
  // spacer
  --spacer: #{$spacer};

  // fonts
  --font-family: "Segoe UI Web (West European)", "Segoe UI", -apple-system, blinkmacsystemfont, roboto, "Helvetica Neue", sans-serif;
  --font-family-mono: ui-monospace, sfmono-regular, menlo, monaco, consolas, liberation mono, courier new, monospace;
  --font-size: 1rem;
  --font-weight-bold: 400;

  // theme colors
  --primary-color: 49, 120, 198;
  --secondary-color: rgb(0, 255, 0);

  // background
  --app-background-color: 14, 19, 23;
  --app-background: rgb(var(--app-background-color));
  --background-color: 215, 215, 220;
  --background: rgba(var(--background-color), .2);

  // borders
  --border-color: rgba(255, 255, 255, 30%);
  --border-radius: 4px;
  --border-size: 1px;

  // text
  --text-emphasis: 1;
  --text-color: 238, 238, 238;
  --link-color: rgba(var(--text-color), var(--text-emphasis));
  --icon-color: rgba(var(--text-color), var(--text-emphasis));

  // animation
  --animation-duration: 1s;

  // transition
  --transition-duration: .32s;
  --transition-timing-function: #{map-get(map-get($penner-transitions, "ease-out"), "quart")};
  --transition: all var(--transition-duration) var(--transition-timing-function);

  // panel
  --panel-background: rgb(255 255 255 / 20%);
  --panel-border: var(--border-size) solid var(--border-color);
}
