@use "./reset";
@use "./vars";
@use "./content";
@use "./display";
@use "./flex";
@use "./gap";
@use "./overflow";
@use "./utilities";
@use "./headers";
@use "./sass-vars" as *;
@forward "./sass-vars";


:root {
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
  transition: var(--transition);
}


html, body {
  background: var(--app-background);
  color: rgba(var(--text-color), var(--text-emphasis));
  font-family: var(--font-family), serif;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size);
  height: 100%;
}

body {
  padding: 1em;
  box-sizing: border-box;
}

div#app {
  height: calc(100% - 2em);
}


a {
  &, &:visited, &:active, &:hover {
    color: var(--link-color);
    text-decoration: none;
  }

  &:hover {
    text-shadow: 0 0 1px var(--link-color);
  }
}

b {
  font-weight: var(--font-weight-bold);
}

button {
  cursor: pointer
}

label {
  font-weight: var(--font-weight-bold);
}
