@use '../../../style/vars' as *;

.v-switch {

  --control-height: 1.25em;
  --control-width: calc(2.1 * var(--control-height));
  --slider-background: rgba(var(--text-color), 0.15);
  --slider-background-on: rgba(var(--primary-color), 1);
  --slider-color: rgba(var(--text-color), .85);
  --slider-text-color: rgba(var(--app-background-color), 1);

  &--input:checked + .v-switch--backdrop {
    --slider-background: var(--slider-background-on);
  }

  & {
    position: relative;

    width: var(--control-width);
    height: var(--control-height);

    cursor: pointer;
  }

  &--backdrop {
    position: absolute;
    top: calc(50% - (var(--control-height) / 2));
    left: 0;
    width: 100%;
    height: var(--control-height);
    border-radius: calc(var(--control-height) / 2);
    background: var(--slider-background);
  }

  &--input {
    opacity: 0;
    top: 0;
    width: 0;
    height: 0;
    left: 0;
  }

  &--slider {

    margin: 0 calc(.5 * var(--control-height));

    box-shadow: 0 0 5px rgba(0, 0, 0, .5);

    position: absolute;
    border-radius: 50%;
    background: var(--slider-color);
    color: var(--slider-text-color);

    transform: translateX(calc(var(--control-height) / -2));
    transform-origin: center center;
    transition-property: left, right;

    top: calc(50% - (var(--control-height) / 2));
    width: var(--control-height);
    height: var(--control-height);
    left: calc(100% - var(--control-height));

    display: flex;
    align-items: center;

    & > * {
      left: 50%;
      position: absolute;
      transform: translateX(-50%);
    }

    &-off {
      left: 0;
    }
  }


}
