@use '../../../style/sass-vars' as *;

.v-dialog-card {

  box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);

  &-buttons {
    margin-top: $spacer;
    justify-content: flex-end;
  }

}
