@use '../../style/sass-vars' as *;
@use '../../style/vars' as *;

:root {
  --list-indent: #{4 * $spacer};
  --list-padding: #{2 * $spacer};
}

// tree indentation
.v-list {
  --parent-padding: 0px;

  .v-list-item {
    --list-indent-padding: calc(var(--parent-padding) + var(--list-indent));
  }

  // "un-indent"
  & > .v-list-item,
  & > .v-list-group {
    --parent-padding: calc(-1 * var(--list-indent));
  }

  .v-list-group {
    --list-indent-padding: calc(var(--parent-padding) + var(--list-indent));

    &--activator {
      --list-indent-padding: var(--parent-padding);
    }

    &--items {
      --parent-padding: var(--list-indent-padding);
    }
  }
}

.v-list-item {
  cursor: default;
  padding: var(--list-padding);
  padding-inline-start: var(--list-indent-padding);
  transition: var(--transition), color 0ms, background-color 0ms;

  border-radius: var(--border-radius);

  &--contents {
    display: flex;
    align-items: center;
  }


  &--prepend {
    flex-grow: 0;
    flex-shrink: 1;

    &-icon {
      margin-right: $spacer * 2;
    }
  }

  &--append {
    flex-grow: 0;
    flex-shrink: 1;

    &-icon {
      margin-left: $spacer * 2;
    }
  }

  &--contents {
    flex-grow: 1;
  }

  &:hover,
  &.selected {
    &, * {
      transition: inherit, background-color 0ms, color 0ms;
      transition-property: none;
    }

    & {
      color: rgba(var(--on-primary-color), var(--text-emphasis));
      background: rgba(var(--primary-color), 100%);
    }
  }
}
