@use "../../../style/sass-vars" as *;

.v-checkbox {

  cursor: pointer;

  &--input {
    vertical-align: middle;
    margin: 0;
  }

  &--label {
    margin-left: $spacer;
    vertical-align: middle;
  }

}
