@use '../../../style/vars' as *;

:root {
  --list-ident: calc(2 * #{$spacer});
  --list-padding: calc(2 * #{$spacer});
}

.v-list {
  --parent-padding: 0px;

  .v-list-item {
    --list-ident-padding: calc(var(--parent-padding) + var(--list-ident));
  }

  .v-list-group {
    --list-ident-padding: calc(var(--parent-padding) + var(--list-ident));

    &--activator {
      --list-ident-padding: var(--parent-padding);
    }

    &--items {
      --parent-padding: var(--list-ident-padding);
    }
  }
}

.v-list-item {
  display: flex;
  align-items: center;
  cursor: default;
  padding: var(--list-padding);
  padding-inline-start: var(--list-ident-padding);

  border-radius: var(--border-radius);

  &--prepend {
    flex-grow: 0;
    flex-shrink: 1;

    &-icon {
      margin-right: $spacer * 2;
    }
  }

  &--append {
    flex-grow: 0;
    flex-shrink: 1;

    &-icon {
      margin-left: $spacer * 2;
    }
  }

  &--content {
    flex-grow: 1;
  }

  &:hover,
  &.selected {
    background: rgba(var(--primary-color), 100%);
  }
}
