@use "../../style/sass-vars" as *;
@use "../../style/vars" as *;
@use "disable-autofill" as *;

:root {
  --input-field-padding: #{$spacer 2*$spacer};
  --input-field-margin-bottom: #{2 * $spacer};
}

.v-input-field {
  --control-emphasis-opacity: .4;

  display: flex;
  margin: 0 0 var(--input-field-margin-bottom) 0;
  padding: var(--input-field-padding);
  border: var(--border-size) var(--border-style) rgba(var(--border-color), var(--border-opacity));
  border-radius: var(--border-radius);
  background: rgba(var(--app-background-color), 1);

  @include remove-autofill-background {
    font-family: var(--font-family), sans-serif !important;
    font-size: var(--font-size-root) !important;
  }

  &:hover, &:active {
    --control-emphasis-opacity: .6;
  }

  input {
    flex-grow: 1;
    width: 100%;
    border: none;
    color: rgba(var(--text-color), var(--text-emphasis));
    background: transparent;
    font-family: var(--font-family);
    font-size: var(--font-size);

    &:focus, &:active, &:hover {
      outline: none;
    }
  }

  .clearable {
    --opacity: 1;

    cursor: pointer;

    &--disabled {
      cursor: inherit;

      --opacity: .01;
    }

    &--icon {
      opacity: var(--opacity);
    }
  }

  svg path {
    fill: currentcolor;
  }

}
