@use "../../style/sass-vars" as *;

:root {
  --input-label-margin: #{$spacer};
  --input-label-font-weight: 600;
}

.v-label {

  display: flex;
  flex-direction: column;

  & > span {
    font-weight: var(--input-label-font-weight);
    margin-bottom: var(--input-label-margin);
  }

}
