@use '../../../style/vars' as *;

.v-tab {
  border: none;
  outline: none;
  background: none;
  color: rgba(var(--text-color), 1);
  font-weight: var(--font-weight-bold);
  flex-grow: 1;
  text-align: center;
  padding: $spacer * 3 $spacer * 2;
  border-radius: var(--border-radius);

  &--selected {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:hover {
    background: rgba(255, 255, 255, 10%);
  }

}
