@use '../../../style/vars' as *;
@use '../../../style/sass-vars' as *;
@use '../Chart/Chart';

svg.v-pie-chart {

  path {
    transition: none;
    stroke: currentColor;
    stroke-width: 1px;
    stroke-linecap: round;
  }

}
