@use "../../style/main" as *;

.v-menu {

  display: flex;
  align-self: normal;

  &--activator {
  }

  &--contents {

    > .v-card {
      background: rgba(var(--background-color), 1);
    }

    & > * {
      cursor: default;
      box-shadow: 0 1px 12px 4px rgba(0, 0, 0, 0.1), 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }
}


// TODO: move!
.v-enter-active, .v-leave-active {
  transition: opacity .2s ease;
}

.v-enter-from, .v-leave-to {
  opacity: 0;
}
